*{
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #14213d;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

body{
    justify-content: center;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.choice:hover{
    background-color: black;
    border-radius: 50%
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content:center;
    align-items: center;
}

img{
    height:150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}


.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 2rem;
    gap: 3rem;
}

#your-score,#comp-score{
    font-size:4rem;
    display: flex;
    justify-content: center;
}
.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    font-size: 2rem;
    background-color: #14213d;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;
    opacity: 1;
}